*{
  margin:0;
  padding:0;
  font-family: 'PT Sans', sans-serif ;
  font-size: 18px;


}
h1,h2,h3,h4, .logo{
  font-family: 'Amaranth', cursive;
  color: #dd3c83 !important;
}
.logo{
  font-family: 'Gochi Hand',cursive;
  color: #dd3c83 !important;
}
.quadrado{
  border-radius: 0;
}
/* HEADER E NAV */
.logo{
  font-size: 3.7rem;
}
.bg-light{
  background:transparent !important;
}
.first{
  background: linear-gradient(to bottom,rgba(255,255,255,0.0),rgba(30,30,30,0.6)),url('img/bg.jpg') no-repeat ;
  background-size: cover;
}
.main{
  padding-bottom: 5rem;
  color: white;
}
.navbar{
  padding-bottom: 1.5rem;
}
/* nav colors */
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar li{
  margin-left: 1.5rem;
}
.jumbotron{
  background-color: transparent;
}
.imgpattern{
  margin-top: -200px;
  margin-bottom: -160px;

}
.jumbotron p{
  padding-bottom: 1rem;
}
.linha{

  border-color: rgba(255,255,255,0.4);
}
.btn-jumbo{
  margin-top:1rem;
  background: transparent;
  border: 2px solid #dd3c83;
}
.btn-jumbo:hover{
  background-color: #dd3c83!important;
  border: 2px solid #dd3c83;
}

/* Cardapio */
.second{
  background: url('img/bg22.jpg') no-repeat;
background-size: cover;
}
.cardapio{
  padding-top: 4rem;
  padding-bottom: 4rem;

}
.price{
  font-size: 4rem;
  margin-top:2rem;

}
/* Galeria */
.third{
  background: linear-gradient(to left,rgba(33,33,33,0.0),rgba(33,33,33,0.6)), url('img/bg33.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 4rem;

}
.galeria{
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
}
.variedades-img {
  width: 100%;
}
.fotosvariedades h4{
  color: white !important;
}

/* mapa e contato */
.fourth{
  background: url('img/bg5.jpg') no-repeat;
  background-size: cover;
  color: rgb(147,147,155);
  padding: 0;
}

.overlay{
  background:rgba(14,13,14,0.93);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.direita{
  border-left: 1px solid rgba(255,255,255,0.5);
}
.direita form input{
  height: 40px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
}
.direita textarea{
  height: 75px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
}
.direita .form-group {
    margin-bottom: 0rem;
}
.form-group label{
  margin-bottom:.2rem;
  color: white;
}
form .botao{
  width: 35%;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  color: white;
}
.botms{
  height: 50px;
  width: 50px;
  color: black;
  background: white;
  border: 1px solid white;
  text-align:center;
}
.insta:hover{
  background-color:rgb(181,19,160);
  border-color:rgb(181,19,160)
}
.youtube:hover{
  background-color:rgb(249,0,0);
  border-color:rgb(249,0,0);
}
.vinioo{
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  color: rgb(147,147,147);
  font-size:1.6rem;
}
