*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;

}
html,body{
  height: 100%;
}
.quadrado{
  border-radius: 0;
}

.homebg{

  padding: 0;
  overflow: hidden;
  position: relative;
  z-index: 400;
  width: 100%;
  height: 100%;
}

.bg-video{
  z-index: -100;
  position: absolute;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;

}
.homeindex{
  color: white;

}
/*  page  */
.navbar{

  padding-bottom: 2rem;
}
.navbar-brand{
 margin: 0;
 padding: 0;

}
.navbar a{
  font-size: 16px;
  letter-spacing: -1px;
  color: white !important;
  margin-left: 1rem;
}
.bg-light{
  background: transparent !important;
  padding: 0;
  margin: 0;
}
.hometext h1{
  padding-top: 16rem;
  font-size: 4.2rem;
  font-weight: 700;
  letter-spacing: -3px;
}
.hometext button{
  color: white;
  border: 2px solid #FCED1B;
  letter-spacing: -1px;
  width: 300px;
  height: 50px;
}
.hometext button:hover{
  background-color: white;
  color:black;
  border: 2px solid #FCED1B;
}
.setabaixo{
  font-size: 2rem;
  padding-top: 25%;
  cursor: pointer;
  overflow: hidden;

}
#yellow{
  color: #FC971B;
}

/* second */
.second{
  padding-top: 3rem;
  padding-bottom: 5rem;

}
.second p{
  font-family: 'Roboto Slab', serif;
}
.second button{
  color: black;
border: 3px solid #FC971B;
}
.second button:hover{
  color: black;
  background-color: #FC971B;
border: 3px solid #FC971B;
}

/* third */
.third{
  background-color: #17191C;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.third h1{
  color:#EFC81A;
  font-weight: 700;
}
.pthird{
  padding-right: 15rem;
  padding-left: 15rem;
  padding-bottom: 5rem;
  font-family: 'Roboto Slab', serif;
  color:#BFBFBF;
}
.quadrados{
  width: 100%;
}
.quadrados img{
  width: 100%;
}

.conteudo-texto{
  padding: 8%;
}
h3::after{
  content: '';
  display:block;
  width: 120px;
  height: 2px;
  background: white;
  margin-top: 15px;
  margin-bottom:20px;
}

/* fourth */
.fourth{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.fifth{
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #17191C;
}
.contato h5{
  color:#EFC81A;
  font-family: 'Roboto Slab', serif;
  overflow: hidden;
}
.contato p{
  color:#BFBFBF;
  font-family: 'Roboto Slab', serif;
  margin-bottom: -1rem;
}
.contato button{
  border: 3px solid white;
  color: white;
  margin-bottom: 2rem;

}
.contato button:hover{
  border: 3px solid white;
  color: black;
  background: white;

}
.footer{
  padding-top: 3rem;
  font-family: 'Roboto Slab', serif;
}
.footer i{
  letter-spacing: 12px;
}
.footer p{
  color:#BFBFBF;
}
.TE{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  color:#FC971B;
}
.powrd{
  text-align: center;
}
#vinioo{
  font-family: 'Amaranth', sans-serif !important;
  font-weight: 700;
  color: rgb(227, 227, 227);
  font-size:1.6rem;

}
/* mobile class texto h1 */

.desktop{
  display:inline;
}
.mobile{
  display: none;
}

/* media queries */
/*  cels */
@media (max-width: 640px) {
  .desktop{
    display: none;
  }
  .mobile{
    display:inline;
  }
  .hometext h1{
    padding-top: 8rem;
    font-size: 2.0rem;
    font-weight: 600;
  }
  .hometext button{
    width: 260px;
    height: 50px;

  }

}
/* phone pequeno */
@media (min-width:640px) and (max-width: 768px) {
  .hometext h1{
    padding-top: 11rem;
    font-size: 2.5rem;
    font-weight: 600;
  }
}
/* phone medio */
@media (min-width: 768px) and (max-width:992px){
  .hometext h1{
    padding-top: 12rem;
    font-size: 3.2rem;
    font-weight: 700;
  }
}
/* tablets */
@media (min-width: 768px) and (max-width:992px){
  .hometext h1{
    padding-top: 14rem;
    font-size: 3.2rem;
    font-weight: 700;
  }
}
/* desktop */
@media (min-width: 992px) and (max-width:1200px) {
  .desktop{
    display: none;
  }
  .mobile{
    display:inline;
  }
  .hometext h1{
    padding-top: 11rem;
    font-size: 4.5rem;
    font-weight: 700;
  }

}

/* tela desktop igual a minha*/
@media (min-width:1200px){

}
