*{
  font-family: 'Open Sans', sans-serif;
  color:white;
}
body,html{
  height: 100%;
}
/* Default */

.quadrado{
  border-radius: 0;
}
.btn-default{
  color: white;
  border: 2px solid white;
  font-size: 13px;
  font-weight: 600;
  height: 40px;
  width: 110px;
}
.btn-default:hover{
  color: black;
  border: 2px solid white;
  background: white;
}

/* Defauld END */

.first{
  background: url('img/home.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 96%;
}
.navbar {
  background: transparent !important;
  padding: 2rem 0 ;
}
.navbar-brand {
  font-weight: 600;
}
.navbar a{
  color: white !important;
}
.navbar li{
  font-size: 14px;
  letter-spacing: -0.5px;
  font-weight: 600;
}
.middleUl li{
  margin-left: 2.5rem;
  margin-right: 0rem;
}
.rightUl {
  margin-left: 5rem;
}
.rightUl li{
  margin-left: 2.2rem;
}

.center{
  background: transparent;
  text-align: center;
  position: relative;
  top: 130px;
}
.center h1{
  font-size: 2.6rem;
  font-weight: 400;
}
#centerbutton{
  width: 160px;
}
#small a{
  color: white;
}

/* SECOND */
.second{
  height: 100%;
}
.threeRow{
  height: 100%;
}
.leftSec{
  background: url('img/1.jpg') no-repeat;
  background-position: center;
  background-size:  cover;
  height:100% ;
}
.conteudo{
  position: relative;
  top: 42%;
}
.conteudo h2{
  font-weight: 600;
}
.conteudo p{
  font-size: 14px;
}
.centerSec{
  background: url('img/2.jpg') no-repeat;
  background-position: center;
  background-size:cover;
  height:100%;
}
.rightSec{
  background: url('img/3.jpg') no-repeat;
  background-position: center;
  background-size:  cover;
  height:100%;
}




/* Increase container width */
@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}
